<h1>SendGrid Analytics</h1>
<table>
  <thead>
    <tr>
      <td>Bounce Drops</td>
      <td>Bounces</td>
      <td>Clicks</td>
      <td>Unique Clicks</td>
      <td>Delivered</td>
      <td>Invalid Emails</td>
      <td>Opens</td>
      <td>Unique Opens</td>
      <td>Requests</td>
      <td>Spam Report Drops</td>
      <td>Spam Reports</td>
      <td>Unsubscribes</td>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'data_list', collection: @single_send, as: :response %>
  </tbody>
</table>